@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  font-family: "Inter";
  font-weight: 500;
  background: #f5f9ff;
  --primary-color: #2d70fd;
  --success-color: #00d8a7;
  --done-color: #8f98a8;
  --hover-color: #2d70fd;
  --danger-color: rgb(202, 49, 49);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
